# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Prisma
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# Docker
.volumes/

# OS
.DS_Store
Thumbs.db
